header#page-header {font-family: Georgia, Times, serif; font-style: italic;}
  
body {
  background-color: rgb(0, 136,0);
  margin: 0;
  padding: 0;
  }

#page-wrapper {
  width: 960px;
  background-color: white; 
  margin: 0 auto; /* tb lr */
  }
#page-header, #content, #navbar {
  padding: 0 1em; /* TB LR */
  }
#page-header {
  padding-top: 1em;
  position: relative;
} 
#page-header img {
  vertical-align: middle;}
  
#page-header h1 {font-size: 3em; font-style: bold;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  padding-top: 1em;}
#page-header h2 {font-size: 1.5em; font-style: 600;}
#navbar { background-color: #333;}

#navbar ul {padding: 0;}

#navbar ul li { display:inline-block;}
#navbar a {
  color: #CCFFCC;
  text-decoration:none;
  padding: 0.25em;
  display: inline-block;}
#navbar a:hover {
  background-color: #666;
  text-shawdow: 2px 2px #333;
  }  
#page-title h1 {font-family: Georgia, Times, serif; font-size: 1.8em;}
div#content h2 {font-family: Georgia, Times, serif; font-style: 1.5em; font-weight: 600;}
body {font-family: Verdana, Helvetica, Arial, sans serif; font-style: 1em; font-weight: normal;}
#page-header #user-links {
  position: absolute;
  top: 10px;
  right: 15px;
}
#user-links a {
  color: darkgreen;
  text-decoration: none;
}
#user-links a:hover {
  text-decoration: underline;
}

th, td {
  padding: 6px;
}
tr:nth-child(odd) {
  background-color: #eee;
}
label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
input[type=radio] + label, input[type=checkbox] + label {
  font-weight: normal;
  display: inline;
}